<div class = "contents-center">
  <div class="success">
    <h4>
      Post has been deleted
    </h4>
    <a class="btn" href="/">Return to list of posts</a>
  </div>
</div>
</div>
<div class = "contents-side">
      <div class = "contents-side-left">
      </div>
      <div class = "contents-side-right">
      </div>
    </div>