 <div class = "contents-new">
      <%= form_with(model: @tweet, local: true, class: "form") do |form| %>
        <h3>
          Tweet-Edit
        </h3>
      <%= render partial: "form", locals: { form: form } %>
      <% end %>
   </div>
    <div class = "contents-side">
      <div class = "contents-side-left">
      </div>
      <div class = "contents-side-right">
      </div>
    </div>
</div>