 <div class = "contents-center">
   <div class = "contents-new">
      <%= form_with(model: @tweet, local: true, class: "form") do |form| %>
        <h3>
          Tweet
        </h3>
        <%= form.file_field :image %>
        <i class="far fa-image"></i>
        <br>
        <%= form.text_area :text, placeholder: "text" , rows: "10" %>
        <br>
        <%= form.submit "SEND", id: "submit" %>
      <% end %>
   </div>
    <div class = "contents-side">
      <div class = "contents-side-left">
      </div>
      <div class = "contents-side-right">
      </div>
    </div>
</div>