.header{
  height: 70px;
  width: 100vw;
  background-color: aqua;
}

.header-upper{
  display: flex;
  justify-content: space-between;
}

.header-upper-title{
  margin-left: 20px;
  line-height: 70px;
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
  color: white;
}

.header-upper-post{
  margin-right: 20px;
  line-height: 70px;
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
}

.header-upper-title a{
  text-decoration: none;
  color: white;
}

.header-upper-post a{
  text-decoration: none;
  color: white;
}

.contents{
  position: relative;
}

.contents-name-date{
  position: absolute;
  display: flex;
  margin-left: 220px;
}

.contents-name{
  font-weight: bold;
}

.contents-date{
  margin-left: 20px;
  color: gray;
  font-size: 13px;
}

.contents-post{
  position: absolute;
  margin-left: 220px;
  margin-top: 20px;
}

.contents-side{
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.contents-side-left{
  height: 100vh;
  width: 200px;
  background-color: #f6f6f6;
}

.contents-side-right{
  height: 100vh;
  width: 200px;
  background-color: #f6f6f6;
}

.contents-new{
  position: absolute;
  margin: auto;
}

.form{
  text-align: center;
}

h3{
  margin-left: 440px;
  margin-top: 30px;
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
}

#tweet_name{
  height: 30px;
  width: 400px;
  margin-left: 450px;
  margin-top: 30px;
}

#tweet_image{
  height: 30px;
  width: 400px;
  margin-left: 450px;
  margin-top: 30px;
}

#tweet_text{
  height: 100px;
  width: 400px;
  margin-top: 30px;
  margin-left: 450px;
}

#submit{
  width: 400px;
  margin-left: 450px;
  margin-top: 30px;
}

.success{
  position: absolute;
}

h2{
  margin-left: 500px;
  margin-top: 30px;
  font-size: 30px;
}

.btn{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  margin-top: 30px;
  margin-left: 570px;
}

.btn:hover {
  background: #67c5ff;
  color: white;
}